<nav class="navigation">
  <ul class="navigation__list">
    <div class="navigation__start">
      <li class="navigation__list--item">
        <app-logo></app-logo>
      </li>
    </div>

    <div class="navigation__end">
      <div class="navigation__end--first">
        <li class="navigation__list--item">
          <a href="/profile">
            <div class="navigation__profile">
              <span class="navigation__profile--icon">
                <figure class="navigation__profile--icon__image">
                  <img src="../../../assets/pfp.jpg" alt="image" />
                </figure>
              </span>
              <span class="navigation__profile--name">{{ userName }}</span>
            </div>
          </a>
        </li>
      </div>
    </div>
  </ul>
</nav>
