.container {
  display: grid;
  grid-template-columns: 75% 25%;
  overflow-x: hidden;
  width: 100%;

  &__main {
    width: 90%;
    margin: 3rem auto;

    &--header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        display: flex;
        align-items: center;

        span:first-of-type {
          padding-top: 3px;
        }
        span:last-of-type {
          margin-left: 1rem;
        }
      }
    }

    &--button {
      margin-top: 2.5rem;
      display: flex;
      justify-content: space-between;

      button {
        background-color: white;
        border: none;
        outline: none;
        box-shadow: 0 0 3px #aaa;
        padding: 0.7rem 1.8rem;
        border-radius: 5px;
        font-weight: 500;
        font-size: 1.6rem;
        cursor: pointer;
      }
    }
  }

  &__info {
    margin-top: 4rem;
    margin-right: 2rem;

    &--heading {
      font-weight: 500;
      font-size: 1.6rem;
    }

    &--name {
      font-weight: 600;
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    &--preview {
      display: flex;
      flex-wrap: wrap;

      &-box {
        font-size: 1.4rem;
        font-weight: 500;
        margin: 1rem 1rem 0 0;
        height: 4rem;
        width: 4rem;
        border-radius: 100%;
        position: relative;
        background-color: #ddd;

        button {
          position: absolute;
          top: 50%;
          border-radius: 100%;
          left: 50%;
          font-weight: inherit;
          border: none;
          outline: none;
          font-size: inherit;
          font-style: inherit;
          cursor: pointer;
          height: 100%;
          width: 100%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

.question {
  margin-top: 3rem;
  width: 100%;

  &__header {
    border: 1px solid #6366f1;
    box-shadow: 0 0 10px #aaa;
    border-radius: 5px;
    padding: 0.5rem 1rem;

    &--h3 {
      font-weight: 600;
      color: 222;
      padding-bottom: 0.5rem;
    }
  }

  &__choice {
    font-size: 1rem;
    font-weight: 600;
    color: #444;
    padding: 0.7rem 0 0 4px;
    text-transform: capitalize;
  }

  &__options {
    margin-top: 4rem;
  }
}

.input {
  margin-bottom: 1.5rem;
  box-shadow: 0 0 10px #ddd;
  display: flex;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;

  &__box {
    &[type="text"] {
      outline: none;
      border: none;
      padding: 0.3rem 0.5rem;
      font-size: inherit;
      font-style: inherit;
      border-radius: 3px;
      width: 100%;
    }

    &[type="checkbox"] {
      appearance: none;
      background-color: #fff;
      margin: 0;
    }

    &[type="radio"] {
      appearance: none;
      background-color: #fff;
      margin: 0;
    }
  }
  &__label {
    width: 100%;
    padding: 0.6rem 0.7rem;
    display: block;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
  }
}

.toggle {
  display: none;
}
.clear-selection {
  font-size: 1.1rem;
  padding-left: 0.3rem;
  font-weight: 500;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
