<div class="container">
  <section class="container__main">
    <div class="toggle">X</div>
    <header class="container__main--header">
      <h1>
        <!-- <span> </span> -->
        <span> Question No. {{ currQues }} of {{ noOfQuestions }} </span>
      </h1>
    </header>
    <div>
      <form class="question">
        <header class="question__header">
          <h3 class="question__header--h3">Question {{ currQues }}</h3>
          <p>{{ data[currQues - 1].question }}</p>
        </header>
        <p class="question__choice">
          {{ data[currQues - 1].type }} Choice question
        </p>
        <div class="question__options">
          <div class="input" *ngFor="let item of data[currQues - 1].options">
            <input
              class="input__box"
              type="radio"
              id="1"
              value="{{ item }}"
              name="option"
            />
            <label class="input__label" htmlFor="1"> {{ item }} </label>
          </div>
        </div>
      </form>
      <!-- here the question component will come. -->
    </div>
    <button class="clear-selection">Clear Selection</button>
    <div class="container__main--button">
      <button (click)="prevHandler()">Prev</button>
      <button (click)="nextHandler()">Next</button>
    </div>
  </section>
  <section class="container__info">
    <div class="toggle">X</div>
    <div class="container__info--name">{{ name }}</div>
    <header>
      <h2 class="container__info--heading">Data Log</h2>
    </header>
    <ul class="container__info--preview">
      <li class="container__info--preview-box" *ngFor="let item of data">
        <button (click)="navigateHandler(item.ques)">{{ item.ques }}</button>
      </li>
    </ul>
  </section>
</div>
