<section class="instruction">
  <header class="instruction__header">
    <h1>Please read the instructions carefully!</h1>
  </header>
  <div class="instruction__container">
    <h2 class="instruction__container--heading">General Instruction</h2>
    <ul class="instruction__container--list">
      <li>
        Total duration of JEE-Main - 40503618_BTECH 8th Jan 2020 Shift 1 is 180
        min.
      </li>
      <li>
        The clock will be set at the server. The countdown timer in the top
        right corner of screen will display the remaining time available for you
        to complete the examination. When the timer reaches zero, the
        examination will end by itself. You will not be required to end or
        submit your examination.
      </li>
      <li>
        You can click on the arrow which apperes to the left of question palette
        to collapse the question palette thereby maximizing the question window.
        To view the question palette again, you can click on which appears on
        the right side of question window.
      </li>
      <li>
        You can click on your Profile image on top right corner of your screen
        to change the language during the exam for entire question paper. On
        clicking of Profile image you will get a drop-down to change the
        question content to the desired language.
      </li>
      <li>
        You can click on to navigate to the bottom and to navigate to top of the
        question are, without scrolling.
      </li>
      <li>
        To answer a question, Click on the question number in the Question
        Palette at the right of your screen to go to that numbered question
        directly. Note that using this option does NOT save your answer to the
        current question.
      </li>
      <li>
        To change your answer to a question that has already been answered,
        first select that question for answering and then follow the procedure
        for answering that type of question.
      </li>
      <li>
        You can click on your Profile image on top right corner of your screen
        to change the language during the exam for entire question paper. On
        clicking of Profile image you will get a drop-down to change the
        question content to the desired language.
      </li>
    </ul>
    <div class="instruction__checkbox">
      <label>
        <input type="checkbox" />
        &nbsp;I have read all the instructions and is read to proceed.
      </label>
    </div>
    <div class="submit">
      <a routerLink="/assessment/">
        <button class="submit__button" color="green">
          START TEST
        </button>
      </a>
    </div>
  </div>
</section>
